@font-face {
  font-family: RobotoMono;
  src: url('assets/RobotoMono-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: RobotoMono;
    color: white
}

a:visited {
  color: rgb(182, 182, 182);
}

a:hover {
  color: rgb(202, 225, 231)
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
    margin-left: 20px;
    text-shadow: 2px 2px 1px black;
}
